* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: Noto Sans JP, serif
}

html, body {
  height:100%;
}

body {
  background: #FFFFFF;
}

.wrapper{
  overflow-y: hidden;
  overflow-x: hidden;
  height: 90%;
  padding-bottom: 20%;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  flex-shrink: 0;
  z-index: 1100;
  padding-left:16px;
  box-shadow: none;
  border-width: 0px 0px thin;
  background: #FFFFFF;
  height: 84px;
  left: 0px;
  top: 0px;
}

.subHeader{
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 16px;
  justify-content: space-between;
  left: 0px;
  right: 0px;
  top: 2px;
}

.mini-header{
  border-top: 0.5px solid #CBD6E0;
  border-bottom: 0.5px solid #CBD6E0;
  margin-bottom: 14px;
  height: 45px;
  width:100%;
}

.mini-header1{
  display: flex;
  justify-content: space-evenly;
  height:inherit
}

.mini-header1 div{
  display:flex;
  align-items: center;
  justify-content: space-evenly;
}

.mini-header1 select{
  border:none;
  width:10px
}

.mini-header1 select option:first-child{
font-size: 30px;
}

.mini-header1 div span a{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
  text-decoration: none;
  color:rgba(7, 24, 39, 1);
}

.mini-header1 div span .orders{
  margin-left: 14px;
}
.walletText, .carty, .mini-header1 div .currentLocation span{
  margin-bottom: 3px;
}

.mini-header1 div .currentLocation{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  margin-left:5px;
  margin-right:11.67px;
}

.mini-header1 svg{
  width: 24px;
  height: 24px;
  left: 19px;
  top: 97px;  
}

.mini-header .midCat{
  margin: 20px 0;
  width: 22px;
  height: 0px;
  left: 266px;
  top: 97px;
  border: 0.5px solid #CBD6E0;
  transform: rotate(90deg);
}

.empty{
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

header p {
  color: #333333;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin-top: 5px;
  line-height: 21px;
}

header .time{
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.165px;
}

header .battery svg{
  width: 24.5px;
  height: 11.5px;
  right: 14.5px;
  top: calc(50% - 11.5px/2 + 0.91px);
}

header .signal{
  left: 78.27%;
  right: 17.17%;
  top: 40%;
  bottom: 35.68%;
  padding-right: 7px;
}

.subHeader .signal svg{
  width: 15.4px;
  height: 11.06px;
  right: 44px;
  top: calc(50% - 11.06px/2 + 0.93px);
}

.iconss{
  display: contents
}

.footer_cover{
  position: fixed;
  height: 10%;
  bottom: 0%;
  right: 0%;
  width: 100%;
  padding-left: 26px;
  padding-right: 26px;
  background-color: #FFFFFF;
  box-shadow: 0px -8px 28px rgba(0, 0, 0, 0.08);
}

footer {
  text-align: center;
  height: 2.5rem;
  display: block
}

footer p {
  font-family: Noto Sans JP;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #718596;
}

.active svg, .active p{
  color: rgba(34, 126, 255, 1);
}

.smallCards, .footy{
  background: #fff;
  border-radius: 7px;
  margin: 16px;
  text-align: center;
}

.footy{
  margin:0;
  margin-top: 19px;
  height: 80px;
  background: #FFFFFF;
}

.btn{
  font-family: Noto Sans JP;
  color: #e2e1e6;
  border-radius: 4px;
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  margin-right: 24px;
  width: 82px;
  height: 31px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.01em;
  padding-left: 14.5px;
  padding-right: 14.5px;
}

.smallCards p{
  font-family: Noto Sans JP;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.01em;
  color: rgba(41, 57, 79, 1);
}

.smallCards div{
  height:inherit;
}

.smallCards div svg{
    width: 48px;
    height: 48px;
}

.footy div svg{
  width: 24px;
  height: 24px;
}

.product_cover, .icon_cover{
    margin-left: 18px;
    display:flex;
}
.product_cover{
  flex-wrap: wrap;
}

.icon_cover, .footer_cover{
  display:flex;
  justify-content:space-between;
}

.product{
  margin-right: 17px;
  width: 101.57px;
  padding-bottom: 14px;
}
.product img{
  display: block;
  width: inherit;
  height: inherit;
}

.product .prodname{
  font-family: Noto Sans JP;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.01em;
  color: #718596;
}

.product .price{
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: #071827;
}

.product .moq{
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  color: #718596;
}

.search {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 8px;
  width: 343px;
  height: 40px;
  left: 16px;
  top: 145px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 20px;
  border: none;
  background: #EDF2F7;
  opacity: 0.9;
  border-radius: 4px;
}

.search span{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #6F798B;
}

.searchIcon{
  color: rgb(0,0, 0);
  margin-left: auto;
  align-self: center;
}

.searchIcon svg{
  width: 16px;
  height: 16px;
  left: 303px;
  top: 4px;  
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 8px;
  color: rgba(46, 68, 87, 1);
}

.cart{
  position: relative;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 18px;
}
.quantity{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 16px;
    padding: 0 8px;
    width: 16px;
    height: 16px;
    border-radius: 26px;
    z-index: 1;
    -webkit-transition: -webkit-transform 195ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: transform 195ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color:rgba(238, 111, 68, 1);
    color: #fff;
    top: 0;
    right: 0;
    -webkit-transform: scale(1) translate(50%, -50%);
    -moz-transform: scale(1) translate(50%, -50%);
    -ms-transform: scale(1) translate(50%, -50%);
    transform: scale(1) translate(50%, -50%);
    transform-origin: 100% 0%;
}

.card-one, .card-two, .card-three{
  padding-top: 10%;
  padding-bottom:47px;
  border-radius: 10px;
  float: left;
  width:83%;
  height: 123px;
}
.card-two{
  background: #227EFF;
  margin-right: 0px; 
}
.card-three{
  background: #EE6F44;
}
.card-one{
  display:flex;
  justify-content: space-between;
}
.card-one .btn{
  background: rgba(34, 126, 255, 1);
}
.card-one .cntct{
  margin-top: 10px;
}
.card-one .txter{
  font-family: Noto Sans JP;
  margin-left: 24px;
  margin-right: 20px;
  margin-top: 6px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}
.card-one .txter .mini-text{
  color: #EE6F44;
}

.flickity-button{
  display:none
}
.flickity-page-dots {
  display: none;
}

@media (min-width: 475px)  {
  .mini-header1 span {
    font-size: 20px;
    padding-right: 3px;
    padding-left: 3px;
}
.mini-header1 div span a{
  font-size: 20px;
}
.mini-header1 div {
  width: revert;
}
.search {
  width: 82%;
  margin-left: 10%;
}
.search span {
  font-size: 20px;
}
.searchIcon svg {
  width: 50%;
}
}
